<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/stylesheets/styles.css' rel='stylesheet' />
    <title>Julia's Children</title>
  </head>
  <body>
    <header class='flex justify-between px-5 pt-2'>
      <h1 class='text-blue-500 text-2xl'>
        <a href='/'>Julia's Children</a>
      </h1>
      <nav class='flex space-x-2 items-center'>
        {{#if loggedIn}}
          <a href='/dashboard'>dashboard</a>
          &ThickSpace;|
          <button id='logout'>logout</button>
        {{else}}
          <a href='/login' id='login'>login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer class='flex justify-evenly px-5 inset-x-0 text-center mt-10'>
      <h1 class='font-bold'>
        Julia's Children
      </h1>
      <a href='https://icons8.com'>Icons 8</a>
    </footer>

    {{#if loggedIn}}
      <script src='/javascript/logout.js'></script>
    {{/if}}
  </body>
</html>