<section class='mt-10 px-5 flex flex-wrap w-11/12 mx-auto sm:w-[30rem]'>
  <div id='page-header' class='mb-5'>
    <h1 class='font-bold text-2xl'>Add Recipe</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis magnam aperiam eligendi.</p>
  </div>

  <!-- Add Recipe Form -->
  <div class='mx-auto mt-5 flex flex-wrap'>
    <form id='add-recipe'>

      <!-- Recipe title -->
      <label for='title' class='font-bold w-full'>Recipe Title</label>
      <input type='text' id='title' name='title' placeholder="i.e. World's Best Chili" class='w-11/12 border-2 border-blue-300 p-1 my-2' />

      <!-- Recipe description -->
      <label for='description' class='font-bold w-full'>Description</label>
      <input type='text' id='description' name='description' placeholder='i.e. Sure to be a hit at the next super bowl party!' class='w-11/12 border-2 border-blue-300 p-1 my-2' />

      <label for='category' class='font-bold w-full'>Catgory</label>
      <select id='category' name='category' class='w-6/12 border-2 border-blue-300 p-1 my-2'>
        <option value='breakfast'>breakfast</option>
        <option value='lunch'>lunch</option>
        <option value='dinner'>dinner</option>
        <option value='snack'>snack</option>
        <option value='dessert'>dessert</option>
      </select>

      <label for='category' class='font-bold w-full'>Difficulty</label>
      <select id='difficulty' name='difficulty' class='w-6/12 border-2 border-blue-300 p-1 my-2'>
        <option value='easy'>easy</option>
        <option value='moderate'>moderate</option>
        <option value='hard'>hard</option>
        <option value='expert'>expert</option>
      </select>

      <hr class='border-1 w-full border-slate-500 mx-auto my-10' />

      <!-- Recipe Ingredients -->
      <h2 class='font-bold'>Ingredients</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur commodo habitasse ultrices.</p>

      <div id='add-ingredients' class='flex flex-wrap'>

        <div class='flex items-center w-full'>
          <input type='text' name='ingredients' placeholder='i.e. 2 medium onions' class='w-3/4 border-2 border-blue-300 p-1 my-2 mr-3' />
          <img src='../images/svg/delete_btn.svg' class='deleteBtn filter-blue h-9' />
        </div>

        <div class='flex items-center w-full'>
          <input type='text' name='ingredients' placeholder='i.e. 2 medium onions' class='w-3/4 border-2 border-blue-300 p-1 my-2 mr-3' />
          <img src='../images/svg/delete_btn.svg' class='deleteBtn filter-blue h-9' />
        </div>

        <div class='flex items-center w-full'>
          <input type='text' name='ingredients' placeholder='i.e. 2 medium onions' class='w-3/4 border-2 border-blue-300 p-1 my-2 mr-3' />
          <img src='../images/svg/delete_btn.svg' class='deleteBtn filter-blue h-9' />
        </div>

      </div>
      <button id='addIngredientBtn' type='button' class='px-2 py-1 bg-blue-300 rounded-md text-blue-900 mt-2 font-semibold border-2 border-blue-800 block mx-auto'>
        + Add Ingredient
      </button>

      <hr class='border-1 w-full border-slate-500 mx-auto my-10' />

      <!-- Add Directions -->
      <h2 class='font-bold'>Directions</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur commodo habitasse ultrices.</p>

      <div id='add-directions' class='flex flex-wrap'>

        <div class='flex items-center w-full'>
          <textarea name='directions' placeholder='i.e. 2 medium onions' class='w-3/4 h-20 border-2 border-blue-300 p-1 my-2 mr-3'></textarea>
          <img src='../images/svg/delete_btn.svg' class='deleteBtn filter-blue h-9' />
        </div>

        <div class='flex items-center w-full'>
          <textarea name='directions' placeholder='i.e. 2 medium onions' class='w-3/4 h-20 border-2 border-blue-300 p-1 my-2 mr-3'></textarea>
          <img src='../images/svg/delete_btn.svg' class='deleteBtn filter-blue h-9' />
        </div>

        <div class='flex items-center w-full'>
          <textarea name='directions' placeholder='i.e. 2 medium onions' class='w-3/4 h-20 border-2 border-blue-300 p-1 my-2 mr-3'></textarea>
          <img src='../images/svg/delete_btn.svg' class='deleteBtn filter-blue h-9' />
        </div>

      </div>

      <button id='addDirectionBtn' type='button' class='px-2 py-1 bg-blue-300 rounded-md text-blue-900 mt-2 font-semibold border-2 border-blue-800 block mx-auto'>
        + Add step
      </button>

      <hr class='border-1 w-full border-slate-500 mx-auto my-10' />

      <!-- Add time info -->
      <h2 class='font-bold'>Time</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur commodo habitasse ultrices.</p>

      <div id='time' class='flex flex-wrap'>

        <!-- Prep Time -->
        <div class='flex items-center w-full'>

          <label for='prep_time' class='font-bold w-full basis-2/6'>Prep Time</label>
          <input id='prep_time' type='number' name='prep_time' placeholder='0' class='w-10 text-center border-2 border-blue-300 p-1 my-2 mr-3 basis-1/6' />

          <select id='prepUnits' name='time_units' class='w-10 border-2 border-blue-300 p-1 my-2 mr-3 basis-3/6'>
            <option value='minutes'>min</option>
            <option value='hours'>hr</option>
            <option value='days'>days</option>
          </select>

        </div>

        <!-- Cook Time -->
        <div class='flex items-center w-full'>

          <label for='cook_time' class='font-bold w-full basis-2/6'>Cook Time</label>
          <input id='cook_time' type='number' name='cook_time' placeholder='0' class='w-10 text-center border-2 border-blue-300 p-1 my-2 mr-3 basis-1/6' />

          <select id='cookUnits' name='time_units' class='w-10 border-2 border-blue-300 p-1 my-2 mr-3 basis-3/6'>
            <option value='minutes'>min</option>
            <option value='hours'>hr</option>
            <option value='days'>days</option>
          </select>

        </div>

      </div>

      <hr class='border-1 w-full border-slate-500 mx-auto my-10' />

      <!-- Need js to reroute to /dashboard once reset button is clicked -->
      <div class='flex items-center w-full mx-auto justify-center'>
        <button type='reset' class='text-blue-900 font-bold'>Cancel</button>
        <button id='addButton' type='button' class='px-2 py-1 bg-blue-300 rounded-md text-blue-900 font-semibold border-2 border-blue-800 ml-4'>
          Add Recipe
        </button>
      </div>

    </form>
  </div>
</section>

<script src='/javascript/add-recipe.js'></script>