<section class='mt-10 px-5 flex flex-wrap w-11/12 mx-auto'>
  <div id='page-header' class='mb-5'>
    <h1 class='font-bold text-4xl'>What's Cooking Good Lookin'</h1>
  </div>
  <div id='all-recipes' class='grid grid-cols-1 justify-center gap-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4'>
    <!-- Recipe Card Partial to be looped-->

    {{#each recipes as |recipe|}}
      {{>recipe-card recipe}}
    {{/each}}
    
    <!-- Recipe Card Partial End-->
  </div>
</section>